nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  .links {
    display: none;
    margin-right: 5rem;
    a {
      text-decoration: none;
      color: $very-dark-blue;
      font-family: $font-BarlowCondensed;
      font-weight: $font-700;
      font-size: $font-size;
      margin: 0 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
    .login {
      color: $grayish-blue;
      margin-left: 2.5rem;
      &::before {
        content: "";
        margin-right: 2.5rem;
        width: 1rem;
        height: 1rem;
        background-color: $grayish-blue;
        border-radius: 50%;
      }
    }
  }
}
